@import "../mixins/bg-color";
@import "../mixins/border-color";
@import "../mixins/text-color";

[tooltip] {
    @apply relative z-50;

    &::before, &::after {
        @apply hidden opacity-0 absolute pointer-events-none select-none z-50 text-sm;
    }

    &::before {
        content: '';
        border: 5px solid transparent;
    }

    &::after {
        @apply text-center border overflow-hidden whitespace-no-wrap py-1 px-3 rounded;
        @include bg-color(tooltip-bg-color-dark, 'colors.gray.900');
        @include text-color(tooltip-text-color-dark, 'colors.white');
        @include border-color(tooltip-border-color-dark, 'colors.gray.700');
        content: attr(tooltip);

        min-width: 4rem;
        max-width: 12rem;
    }

    &:hover {
        &::before, &::after {
            @apply block;
        }
    }

    &:not([direction]), &[direction^="top"] {
        &::before {
            bottom: 100%;
            border-bottom-width: 0;
            @include border-color(tooltip-arrow-border-color, 'colors.gray.900', 'top');
        }

        &::after {
            bottom: calc(100% + 5px);
        }

        &::before, &::after {
            left: 50%;
            transform: translate(-50%, -.5em);
        }

        &:hover {
            &::before, &::after {
                animation: tooltips-vertical 300ms ease-out forwards;
            }
        }
    }

    &[direction^="bottom"] {
        &::before {
            top: 100%;
            border-top-width: 0;
            @include border-color(tooltip-arrow-border-color, 'colors.gray.900', 'bottom');
        }

        &::after {
            top: calc(100% + 5px);
        }

        &::before, &::after {
            left: 50%;
            transform: translate(-50%, .5em);
        }

        &:hover {
            &::before, &::after {
                animation: tooltips-vertical 300ms ease-out forwards;
            }
        }
    }

    &[direction^="left"] {
        &::before {
            top: 50%;
            border-right-width: 0;
            @include border-color(tooltip-arrow-border-color, 'colors.gray.900', 'left');
            left: calc(0em - 5px);
            transform: translate(-.5em, -50%);
        }

        &::after {
            top: 50%;
            right: calc(100% + 5px);
            transform: translate(-.5em, -50%);
        }

        &:hover {
            &::before, &::after {
                animation: tooltips-horizontal 300ms ease-out forwards;
            }
        }
    }

    &[direction^="right"] {
        &::before {
            top: 50%;
            border-left-width: 0;
            @include border-color(tooltip-arrow-border-color, 'colors.gray.900', 'right');
            right: calc(0em - 5px);
            transform: translate(.5em, -50%);
        }

        &::after {
            top: 50%;
            left: calc(100% + 5px);
            transform: translate(.5em, -50%);
        }

        &:hover {
            &::before, &::after {
                animation: tooltips-horizontal 300ms ease-out forwards;
            }
        }
    }
}

[tooltip=''] {
    &::before, &::after {
        display: none !important;
    }
}

  
@keyframes tooltips-vertical {
    to {
        opacity: .9;
        transform: translate(-50%, 0);
    }
}

@keyframes tooltips-horizontal {
    to {
        opacity: .9;
        transform: translate(0, -50%);
    }
}