@import "@sassmixins/bg-color";
@import "@sassmixins/text-color";

.tooltip {
    @include bg-color(tooltip-bg-color, 'colors.black');
    @include text-color(tooltip-text-color, 'colors.white');
    @apply rounded-lg px-2 py-1.5 shadow-xl;
    z-index: 110;

    &[data-popper-placement^="bottom"] {
        margin-top: 5px !important;
        
    }
    
    &[data-popper-placement^="top"] {
        margin-bottom: 5px !important;
        
    }
    
    &[data-popper-placement^="right"] {
        margin-left: 5px !important;
        
    }
    
    &[data-popper-placement^="left"] {
        margin-right: 5px !important;
        
    }
}