@keyframes rotating-ccw {
    from {
        transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
}
@-webkit-keyframes rotating-ccw {
    from {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
}
.rotating-ccw {
    -webkit-animation: rotating-ccw 1s linear infinite;
    -moz-animation: rotating-ccw 1s linear infinite;
    -ms-animation: rotating-ccw 1s linear infinite;
    -o-animation: rotatin-ccw 1s linear infinite;
    animation: rotating-ccw 1s linear infinite;
}



@keyframes rotating-cw {
    from {
        transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes rotating-cw {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
.rotating-cw {
    -webkit-animation: rotating-cw 2s linear infinite;
    -moz-animation: rotating-cw 2s linear infinite;
    -ms-animation: rotating-cw 2s linear infinite;
    -o-animation: rotating-cw 2s linear infinite;
    animation: rotating-cw 2s linear infinite;
}

@keyframes scale-x {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}

.scale-x {
    -webkit-animation: scale-x linear 1 forwards;
    -moz-animation: scale-x linear 1 forwards;
    -ms-animation: scale-x linear 1 forwards;
    -o-animation: scale-x linear 1 forwards;
    animation: scale-x linear 1 forwards;
}

@keyframes indeterminate_first {
    0% {
        left: -100%;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 10%;
    }
}

@keyframes indeterminate_second {
    0% {
        left: -150%;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 10%;
    }
}

.indeterminate {
    @apply h-full w-full relative;

    .before {
        @apply absolute h-full;
        content: '';

        -webkit-animation: indeterminate_first 1.5s ease-out infinite;
        -moz-animation: indeterminate_first 1.5s ease-out infinite;
        -ms-animation: indeterminate_first 1.5s ease-out infinite;
        -o-animation: indeterminate_first 1.5s ease-out infinite;
        animation: indeterminate_first 1.5s ease-out infinite;
    }

    .after {
        @apply absolute h-full;
        content: '';

        -webkit-animation: indeterminate_second 1.5s ease-in infinite;
        -moz-animation: indeterminate_second 1.5s ease-in infinite;
        -ms-animation: indeterminate_second 1.5s ease-in infinite;
        -o-animation: indeterminate_second 1.5s ease-in infinite;
        animation: indeterminate_second 1.5s ease-in infinite;
    }
}