@import "mixins/bg-color";
@import "mixins/border-color";
@import "mixins/font-family";
@import "mixins/text-color";

[v-cloak] {
    display: none;
}

.mode-dark {
    * {
        scrollbar-color: theme('colors.gray.600') theme('colors.gray.800');
        scrollbar-color: var(--scrollbar-handle-color-dark, theme('colors.gray.600')) var(--scrollbar-bg-color-dark, theme('colors.gray.800'));

        &::-webkit-scrollbar-track {
            background: theme('colors.gray.800');
            background: var(--scrollbar-bg-color-dark, theme('colors.gray.800'));
        }
        &::-webkit-scrollbar-thumb {
            background-color: theme('colors.gray.600');
            background-color: var(--scrollbar-handle-color-dark, theme('colors.gray.600'));
        }
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.gray.400') theme('colors.gray.250');
    scrollbar-color: var(--scrollbar-handle-color, theme('colors.gray.400')) var(--scrollbar-bg-color, theme('colors.gray.250'));

    &::-webkit-scrollbar {
        @apply w-3;
    }
    &::-webkit-scrollbar-track {
        background: theme('colors.gray.250');
        background: var(--scrollbar-bg-color, theme('colors.gray.250'));
    }
    &::-webkit-scrollbar-thumb {
        background-color: theme('colors.gray.400');
        background-color: var(--scrollbar-handle-color, theme('colors.gray.400'));
    }
}

html {
    @include font-family('font-family', 'Inter, system-ui');
    scroll-behavior: smooth;
}

body {
    @include bg-color(bg-color, 'colors.gray.100');
    @include text-color(text-color, 'colors.gray.700');
}

.mode-dark body {
    @include bg-color(bg-color-dark, 'colors.gray.900');
    @include text-color(text-color-dark, 'colors.gray.300');
}

.mode-dark a {
    @include text-color(link-color-dark, 'colors.blue.600');
}

a {
    @include text-color(link-color, 'colors.blue.600');
}

h1 {
    @apply text-5xl;
}

h2 {
    @apply text-4xl;
}

h3 {
    @apply text-3xl;
}

h4 {
    @apply text-2xl;
}

h5 {
    @apply text-xl;
}

h6 {
    @apply text-lg;
}

code {
    @include bg-color(code-bg-color, 'colors.gray.300');
    @include text-color(code-text-color, 'colors.gray.800');
    @apply py-0.5 px-1 rounded-md;
}

.mode-dark code {
    @include bg-color(code-bg-color-dark, 'colors.gray.900');
    @include text-color(code-text-color-dark, 'colors.gray.200');
}

.mode-dark .loader {
    @include bg-color(loader-bg-color-dark, 'colors.gray.800');
    @include text-color(loader-text-color-dark, 'colors.gray.200');
}

.loader {
    @include bg-color(loader-bg-color, 'colors.gray.100');
    @include text-color(loader-text-color, 'colors.black');

    @apply absolute w-full h-full left-0 top-0 z-50;

    .icon {
        @apply absolute w-32 h-32;
        top: 50%;
        left: 50%;
        margin-left: calc(theme('spacing.16') * -1);
        margin-right: calc(theme('spacing.16') * -1);
    }
}